# --------------------------------------------------------------------
# Agustin: 2010-06-09
# Este no protege, para ello comentar
# ----------------------------------------------------------------------
# Cuidado con la herencia: el archivo .htaccess a nivel raíz es aplicado 
# también en las carpetas, cuaquier regla .htaccess en la carpeta puede
# reemplazar las reglas de la carpeta raíz.
# ----------------------------------------------------------------------


# La siguiente linea es para configurar la web a UTF-8
# Si a nivel de directorios superiores estuviese configurado como ISO, 
# con la siguiente linea se configura a UTF-8 pra este dirctorio 

AddDefaultCharset UTF-8

# para evitar que se navegue por los directorios, poniendo dir en url 


Options -Indexes

# Redirige las entradas al servidor por el port 80 to "HTTPS" URI
# para que las entradas que hagan con http:// se redirijan a https://

RewriteEngine On
RewriteBase /usuarios/
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://www.europalaica.com/usuarios/$1 [R,L]

# Cuando se produce una llamada a una link que no se existe, se produece el error 404
# En lugar de que salga el clásico error, se le dirige a una págian personalizada

ErrorDocument 404 https://www.europalaica.com/usuarios/vistas/mensajes/vError404.php

# ----------------------------------------------------------------------
# Para pedir contraseña para entrar en directorios via URL, pero permite
# ser llamado desde dentro de los directorios 
# se puede proteger cada directorio poniendo el correspondiente 
# "htaccess" y el "htpasswd" en cada directorio
# pero yo lo pongo solo en el de entrada cuando quiero proteger toda 
# la aplicación con clave porque la autenticación se aplicará a la carpeta
# en la que se encuentre y las subcarpetas. 
#
# Esto se puede hacer la herramienta de administración
# del sitio de forma cómoda: https://panel.europalaica.com:10000
# VirtualAdmin¬Webmin-->Servicios-->Protected directories
#
# Cuando se ponga en explotación habrá que desactivarlo, comentarlo
# ----------------------------------------------------------------------

# la siguiente linea indica fichero con las claves para lo anterior:
 AuthUserFile "/home/virtualmin/europalaica.com/public_html/usuarios/.htpasswd"

 AuthType Basic
# AuthName "GESTION USUARIOS"
#	AuthName "----- en este momento NO ESTA ACCESIBLE A LOS SOCIOS, (solo para tareas de mantenimiento) ----- "
# AuthName "--------- BLOQUEADO PARA TODOS POR TAREAS DE MANTENIMIENTO -------------- "	
# require valid-user

# Las 4 líneas anteriores comentan, para que entre en explotación
